<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head('Chroma - Checkout')}">
</head>
<style>
    .dropdown-wrapper {
        position: relative;
    }

    .dropdown-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .select-open .dropdown-icon {
        transform: translateY(-50%) rotate(180deg);
    }
</style>
<body>

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve
    your experience.</p>
<![endif]-->

<!-- Start of Whole Site Wrapper with mobile menu support -->
<div id="whole" class="whole-site-wrapper color-scheme-one">

    <div th:replace="~{layout::headernormal(${user})}"></div>
    <div th:replace="~{layout :: nav(${categories1},${categories2},${categories3},${categories4})}"></div>

    <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

    <!-- Start of Breadcrumbs -->
    <div class="breadcrumb-section bgc-offset mb-full" style="margin-bottom: 40px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb" style="padding: 20px">
                        <a class="breadcrumb-item" href="index.html">Home</a>
                        <a class="breadcrumb-item" href="cart.html">Shopping Cart</a>
                        <span class="breadcrumb-item active">Checkout</span>
                    </nav>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Breadcrumbs -->

    <!-- Start of Main Content Wrapper -->
    <div id="content" class="main-content-wrapper">

        <!-- Start of Checkout Wrapper -->
        <div class="checkout-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="checkout-area">
                                <form class="row" action="/checkout" method="post"
                                      th:object="${user}">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                                        <div class="checkout-form">
                                            <div class="section-title left-aligned">
                                                <h2>Billing Details</h2>
                                            </div>
                                            <div>
                                                <div class="form-row mb-3">
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="first_name">Full Name <span
                                                                class="text-danger">*</span></label>
                                                        <input th:field="*{full_name}" type="text" class="form-control"
                                                               id="first_name"
                                                               required>
                                                    </div>
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="email_input">Email Address<span
                                                                class="text-danger">*</span></label>
                                                        <input th:field="*{email}" type="text" class="form-control"
                                                               id="email_input" required>
                                                    </div>
                                                </div>
                                                <div class="form-row mb-3">
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="province">Province <span
                                                                class="text-danger">*</span></label>
                                                        <div class="dropdown-wrapper">
                                                            <select name="ls_province" id="province"
                                                                    class="form-control" required></select>
                                                            <span class="dropdown-icon"
                                                                  id="province-icon">&#9660;</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="district">District <span
                                                                class="text-danger">*</span></label>
                                                        <div class="dropdown-wrapper">
                                                            <select name="ls_district" id="district"
                                                                    class="form-control" required></select>
                                                            <span class="dropdown-icon"
                                                                  id="district-icon">&#9660;</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="ward">Ward <span
                                                                class="text-danger">*</span></label>
                                                        <div class="dropdown-wrapper">
                                                            <select name="ls_ward" id="ward"
                                                                    class="form-control" required></select>
                                                            <span class="dropdown-icon" id="ward-icon">&#9660;</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row mb-3">
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="p_address">Address <span
                                                                class="text-danger">*</span></label>
                                                        <input type="text" class="form-control"
                                                               id="p_address" required>
                                                        <div id="user-address-hidden" style="visibility: hidden"
                                                             th:text="${user.address}"></div>
                                                    </div>
                                                    <div class="form-group col-12 col-sm-12 col-md-6">
                                                        <label for="city_name">Phone Number <span
                                                                class="text-danger">*</span></label>
                                                        <input th:field="*{phone_number}" type="number"
                                                               class="form-control" id="city_name" required>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-12 col-sm-12 col-md-12">
                                                        <label for="order_notes">Order Notes</label>
                                                        <textarea class="form-control" id="order_notes"
                                                                  placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end of checkout-form -->
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                                        <div class="order-summary">
                                            <div class="section-title left-aligned">
                                                <h2>Your Order</h2>
                                            </div>
                                            <div class="product-container">
                                                <div class="product-list" th:each="cartItem:${cartItemsFilter}">
                                                    <div class="product-inner d-flex align-items-center">
                                                        <div class="product-image me-4 me-sm-5 me-md-4 me-lg-5">
                                                            <a th:href="@{'/single-product/' + ${cartItem.id}}">
                                                                <img th:src="${cartItem.image}"
                                                                     th:alt="${cartItem.getTitle()}"
                                                                     th:title="${cartItem.getTitle()}">
                                                            </a>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5 th:text="${cartItem.title}">Compete Track Tote</h5>
                                                            <p class="product-quantity"
                                                               th:text="'Quantity: '+${cartItem.quantity}">Quantity:
                                                                3</p>
                                                            <p class="product-final-price formatted-price"
                                                               th:text="${cartItem.price}+' VND'">$180.00</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="order-review">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <!--                                                                <tr class="cart-subtotal">-->
                                                        <!--                                                                    <th>Subtotal</th>-->
                                                        <!--                                                                    <td class="text-center">$440.00</td>-->
                                                        <!--                                                                </tr>            -->
                                                        <tr class="order-total">
                                                            <th>Total</th>
                                                            <td class="text-center"><strong><span
                                                                    class="color-primary formatted-price"
                                                                    th:text="${totalPrice}+' VND'">$440.00</span></strong>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="checkout-payment" th:if="${!cartItemsFilter.isEmpty()}">
                                                <div>
                                                    <div class="form-row">
                                                        <div class="custom-radio" style="border-bottom: none !important;">
                                                            <input class="form-check-input" type="radio" name="payment"
                                                                   id="cash_delivery_payment" value="cash" required checked>
                                                            <span class="checkmark"></span>
                                                            <label class="form-check-label" for="cash_delivery_payment">Cash
                                                                on Delivery</label>

                                                            <!--                                                            <div class="payment-info" id="cash_pay">-->
                                                            <!--                                                                <p>Pay with cash upon delivery.</p>-->
                                                            <!--                                                            </div>-->
                                                        </div>
                                                    </div>
                                                    <!--                                                    <div class="form-row">-->
                                                    <!--                                                        <div class="form-check">-->
                                                    <!--                                                            <div class="custom-checkbox">-->
                                                    <!--                                                                <input class="form-check-input" type="checkbox"-->
                                                    <!--                                                                       id="terms_acceptance" required>-->
                                                    <!--                                                                <span class="checkmark"></span>-->
                                                    <!--                                                                <label class="form-check-label" for="terms_acceptance">I-->
                                                    <!--                                                                    agree to the <a href="#">terms of service</a> and-->
                                                    <!--                                                                    will adhere to them unconditionally.</label>-->
                                                    <!--                                                            </div>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->
                                                    <div class="form-row justify-content-end">
                                                        <input type="submit"
                                                               class="btn btn-secondary dark"
                                                               value="Check Out">
                                                    </div>
                                                </div>
                                            </div> <!-- end of checkout-payment -->
                                        </div> <!-- end of order-summary -->
                                    </div>
                                </form> <!-- end of row -->
                            </div> <!-- end of checkout-area -->
                        </main> <!-- end of #primary -->
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Checkout Wrapper -->
    </div>
    <!-- End of Main Content Wrapper -->

    <div th:replace="~{layout::footer}"></div>
    <div th:replace="~{layout::scroll_to_top}"></div>
</div>
<!-- End of Whole Site Wrapper -->

<!-- Initializing Photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Photoswipe -->


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="/assets/js/jquery.1.12.4.min.js"></script>

<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/FormatPrice.js"></script>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="/assets/js/toast.js"></script>
<script src="/assets/js/vietnamlocalselector.js"></script>
<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault();

        const form = event.target;
        const submitButton = form.querySelector('input[type="submit"]');
        submitButton.disabled = true;

        const formData = new FormData(form);
        let address = document.getElementById('p_address').value;
        let province = document.getElementById('province').selectedOptions[0].text;
        let district = document.getElementById('district').selectedOptions[0].text;
        let ward = document.getElementById('ward').selectedOptions[0].text;
        // Sanitize address with "/" character
        address = address.replace(/\//g, '');
        //Combine address, province, district, ward with /
        address = address + '/' + ward + '/' + district + '/' + province;

        formData.append('order_note', document.getElementById('order_notes').value);
        formData.append('order_phone_number', document.getElementById('city_name').value);
        formData.append('order_address', address);
        formData.append('order_email', document.getElementById('email_input').value);

        fetch('/checkout', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 400) {
                        toast("error", 'Some items are out of stock. Please review your cart.');
                    } else {
                        toast("error", 'An error occurred. Please try again.');
                    }
                    throw new Error('Server response was not ok.');
                }
                return response.text();
            })
            .then(data => {
                toast("success", 'Order placed successfully!');
                setTimeout(() => {
                    window.location.href = '/my-account.html#order-history';
                }, 2000);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                submitButton.disabled = false;
            });
    });
</script>

<script>
    document.querySelectorAll('.dropdown-wrapper select').forEach(select => {
    select.addEventListener('click', function () {
        this.parentElement.classList.toggle('select-open');
    });
});

document.addEventListener('DOMContentLoaded', function () {
    let hiddenAddress = document.getElementById('user-address-hidden').textContent;
    if (hiddenAddress !== '') {
        let address = hiddenAddress.split('/');
        document.getElementById('p_address').value = address[0];

        setTimeout(() => {
            setSelectOptionByText('province', address[3]);
            document.getElementById('province').dispatchEvent(new Event('change'));

            setTimeout(() => {
                setSelectOptionByText('district', address[2]);
                document.getElementById('district').dispatchEvent(new Event('change'));

                setTimeout(() => {
                    setSelectOptionByText('ward', address[1]);
                }, 100);
            }, 100);
        }, 100);
    }
});

function setSelectOptionByText(selectId, text) {
    let selectElement = document.getElementById(selectId);
    for (let option of selectElement.options) {
        if (option.text === text) {
            option.selected = true;
            break;
        }
    }
}

    let localpicker = new LocalPicker({
        province: "ls_province",
        district: "ls_district",
        ward: "ls_ward"
    });
    let options = {
        /*
          HTML Selector. You can pass value of name, id or class.
          It will automatically detect exist elements for you.
          Example: 'myIdOrClass','#myId', '.myClass', 'myName'
          */
        province: 'ls_province',
        district: 'ls_district',
        ward: 'ls_ward',

        /*
        Define value for option tag. Valid option: id|name
        */
        getValueBy: 'id',

        //Placeholder text
        provinceText: 'Chọn tỉnh / thành phố',
        districtText: 'Chọn quận / huyện',
        districtNoText: 'Địa phương này không có quận / huyện',
        wardText: 'Chọn phường / xã',
        wardNoText: 'Địa phương này không có phường / xã',

        // Default value if no location exist
        emptyValue: " ",

        // Hide option where no local exist
        hideEmptyValueOption: true,

        // Hide place-holder option (first option)
        hidePlaceHolderOption: true,

        /*
        Include local level on option text as prefix
        Example: true = Quận Bình Thạnh | false = Bình Thạnh
        */
        provincePrefix: false,
        districtPrefix: true,
        wardPrefix: true,

        /*
        Include local level in option tag's attribute
        */
        levelAsAttribute: true,
        levelAttributeName: "data-level",
    };
</script>
</body>
</html>