<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head('Chroma - My Account')}">
</head>
<body>

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve
    your experience.</p>
<![endif]-->

<!-- Start of Whole Site Wrapper with mobile menu support -->
<div id="whole" class="whole-site-wrapper color-scheme-one">

    <div th:replace="~{layout::headernormal(${user})}"></div>
    <div th:replace="~{layout :: nav(${categories1},${categories2},${categories3},${categories4})}"></div>

    <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

    <!-- Start of Breadcrumbs -->
    <div class="breadcrumb-section bgc-offset mb-full" style="margin-bottom: 40px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb" style="padding: 20px">
                        <a class="breadcrumb-item" th:href="@{/index.html}">Home</a>
                        <span class="breadcrumb-item active">My Account</span>
                    </nav>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Breadcrumbs -->

    <!-- Start of Main Content Wrapper -->
    <div id="content" class="main-content-wrapper">

        <!-- Start of My Account Wrapper -->
        <div class="my-account-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="user-dashboard">
                                <div class="user-info">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="single-info">
                                                <p class="user-name">Hello <span
                                                        th:text="${user.getFull_name()}"></span> <br><a class="log-out"
                                                                                                        th:href="@{/logout}">Log
                                                    Out</a></p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                            <div class="single-info">
                                                <p>Need Assistance? Customer service at <a
                                                        href="#">admin@example.com</a></p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                            <div class="single-info">
                                                <p>E-mail them at <a href="#">support@example.com</a></p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-3">
                                            <div class="single-info justify-content-lg-center">
                                                <a class="btn btn-secondary" th:href="@{/cart.html}">View Cart</a>
                                            </div>
                                        </div>
                                    </div> <!-- end of row -->
                                </div> <!-- end of user-info -->

                                <div class="main-dashboard">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                                            <ul class="nav flex-column dashboard-list" role="tablist">
                                                <li><a class="nav-link" data-bs-toggle="tab" href="#account-details">Account
                                                    details</a></li>
                                                <li><a class="nav-link" data-bs-toggle="tab" href="#order-history">Order
                                                    History</a></li>
                                                <li><a class="nav-link" th:href="@{/logout}">Log out</a></li>
                                            </ul> <!-- end of dashboard-list -->
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                            <!-- Tab panes -->
                                            <div class="tab-content dashboard-content">
                                                <div id="account-details" class="tab-pane fade show active">
                                                    <h3>Account details </h3>
                                                    <div class="login-form">
                                                        <form th:action="@{/editProfile}" method="post" th:object="${user}" th:if="${user}">
                                                            <div class="container p-4">

                                                                <!-- Full Name -->
                                                                <div class="row mb-3">
                                                                    <div class="col-md-3">
                                                                        <label for="f-name" class="form-label fw-bold">Full Name</label>
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control" id="f-name" required th:value="${user.getFull_name()}"
                                                                               th:field="*{full_name}">
                                                                    </div>
                                                                </div>
                                                                <!-- Gender -->
                                                                <div class="row mb-3">
                                                                    <div class="col-md-3">
                                                                        <label class="form-label fw-bold">Gender</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="gender" id="male" th:value="'Male'"
                                                                                   th:field="*{gender}" th:checked="${user.getGender().equalsIgnoreCase('Male')}">
                                                                            <label class="form-check-label" for="male">Male</label>
                                                                        </div>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="gender" id="female" th:value="'Female'"
                                                                                   th:field="*{gender}" th:checked="${user.getGender().equalsIgnoreCase('Female')}">
                                                                            <label class="form-check-label" for="female">Female</label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Phone Number -->
                                                                <div class="row mb-3">
                                                                    <div class="col-md-3">
                                                                        <label for="phonenumber" class="form-label fw-bold">Phone Number</label>
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <input type="text" class="form-control" id="phonenumber" required th:value="${user.getPhone_number()}"
                                                                               th:field="*{phone_number}">
                                                                    </div>
                                                                </div>

                                                                <!-- Birthdate -->
                                                                <div class="row mb-3">
                                                                    <div class="col-md-3">
                                                                        <label for="birth" class="form-label fw-bold">Birthdate (Optional)</label>
                                                                    </div>
                                                                    <div class="col-md-9">
                                                                        <input type="date" class="form-control" id="birth" placeholder="YYYY-MM-DD" required
                                                                               th:value="${user.getDob()}" th:field="*{dob}">
                                                                    </div>
                                                                </div>

                                                                <!-- Hidden Email and Password -->
                                                                <!-- Save Button -->
                                                                <div class="row">
                                                                    <div class="col-md-9 offset-md-3 text-end">
                                                                        <button type="submit" class="btn btn-primary" style="background-color: #cc2121; border-color: #cc2121">Save</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>

                                                </div> <!-- end of tab-pane -->
                                                <div id="order-history" class="tab-pane fade">
                                                    <h3>Order History</h3>
                                                    <div th:if="${orders != null}">
                                                        <div th:each="order, orderStat : ${orders}"
                                                             class="card mb-3 shadow-sm">
                                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                                <span>Order #<span th:text="${order.id}"></span></span>
                                                                <span class="badge bg-primary text-uppercase"
                                                                      th:text="${order.status}"></span>
                                                            </div>
                                                            <div class="card-body">
                                                                <!-- Order Details Header -->
                                                                <h4 class="card-title mb-3 d-flex align-items-center">
                                                                    <i class="material-icons me-2">receipt</i> Order
                                                                    Details
                                                                </h4>
                                                                <ul class="list-group overflow-auto"
                                                                    style="max-height: 300px;">
                                                                    <!-- Item List -->
                                                                    <li class="list-group-item"
                                                                        th:each="detail : ${orderDetails[orderStat.index]}">
                                                                        <div class="d-flex align-items-center">
                                                                            <!-- Product Image -->
                                                                            <div class="me-3">
                                                                                <a th:href="@{'/single-product/' + ${products[orderStat.index].get(orderDetails[orderStat.index].indexOf(detail)).id}}">
                                                                                    <img class="img-fluid rounded"
                                                                                         style="max-width: 100px; height: auto;"
                                                                                         th:src="${products[orderStat.index].get(orderDetails[orderStat.index].indexOf(detail)).getImage_collection_url()}"
                                                                                         th:alt="${products[orderStat.index].get(orderDetails[orderStat.index].indexOf(detail)).getProduct_name()}">
                                                                                </a>
                                                                            </div>
                                                                            <!-- Product Info -->
                                                                            <div class="flex-grow-1">
                                                                                <h6 th:text="${products[orderStat.index].get(orderDetails[orderStat.index].indexOf(detail)).getProduct_name()}"></h6>
                                                                                <p class="mb-1 d-flex align-items-center">
                                                                                    <i class="material-icons">shopping_cart</i>
                                                                                    <span th:text="'Quantity: ' + ${detail.quantity}"></span>
                                                                                </p>
                                                                                <p class="mb-0 d-flex align-items-center">
                                                                                    <i class="material-icons">payment</i>
                                                                                    <span class="formatted-price"
                                                                                          th:text="${detail.price} + ' VND'"></span>
                                                                                </p>
                                                                            </div>
                                                                            <!-- Buy Again Button -->
                                                                            <div class="ms-auto">
                                                                                <a th:href="@{'/single-product/' + ${products[orderStat.index].get(orderDetails[orderStat.index].indexOf(detail)).id}}"
                                                                                   class="btn btn-secondary d-flex align-items-center">
                                                                                    <!--                                                                                    <i class="material-icons">replay</i>-->
                                                                                    Buy Again
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>

                                                                <!-- Order Summary and Shipping Address -->
                                                                <div class="mt-4">
                                                                    <div class="card border-light">
                                                                        <div class="card-body">
                                                                            <!-- Shipping Address Section -->
                                                                            <h4 class="d-flex align-items-center"><i
                                                                                    class="material-icons me-2">location_on</i>
                                                                                Shipping Address</h4>
                                                                            <p class="mb-3"
                                                                               th:text="${order.address}"></p>

                                                                            <!-- User Note, Order Date -->
                                                                            <p class="card-text mb-1">
                                                                                <strong>Phone number:</strong> <span
                                                                                    th:text="${order.phoneNumber}"></span>
                                                                            </p>
                                                                            <p class="card-text mb-1">
                                                                                <strong>User Note:</strong> <span
                                                                                    th:text="${order.note}"></span>
                                                                            </p>
                                                                            <p class="card-text mb-3">
                                                                                <strong>Order Date:</strong> <span
                                                                                    th:text="${order.order_date}"></span>
                                                                            </p>

                                                                            <!-- Total Price, Positioned Bottom Right -->
                                                                            <div class="d-flex justify-content-between align-items-center">
                                                                                <strong>Total Price:</strong>
                                                                                <span class="formatted-price fs-4 fw-bold"
                                                                                      style="color: #cc2121"
                                                                                      th:text="${order.total_price} + ' VND'"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div th:if="${orders == null}">
                                                        <p>There's no order. Order some and come back again!</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end of tab-pane -->
                                        </div> <!-- end of tab-pane -->
                                    </div>
                                </div>
                            </div> <!-- end of row -->
                            <!--                    </div> &lt;!&ndash; end of main-dashboard &ndash;&gt;-->
                            <!--                </div> &lt;!&ndash; end of user-dashboard &ndash;&gt;-->
                        </main> <!-- end of #primary -->
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of My Account Wrapper -->
    </div>
    <!-- End of Main Content Wrapper -->

    <div th:replace="~{layout::footer}"></div>
    <div th:replace="~{layout::scroll_to_top}"></div>

</div>
<!-- End of Whole Site Wrapper -->

<!-- Initializing Photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Photoswipe -->


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="/assets/js/jquery.1.12.4.min.js"></script>

<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="/assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/FormatPrice.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const badges = document.querySelectorAll('.badge');

        badges.forEach(badge => {
            const status = badge.textContent.trim().toUpperCase();

            switch (status) {
                case 'PENDING':
                    badge.classList.remove('bg-primary');
                    badge.classList.add('bg-warning');
                    break;
                case 'SHIPPING':
                    badge.classList.remove('bg-primary');
                    badge.classList.add('bg-info');
                    break;
                case 'DELIVERED':
                    badge.classList.remove('bg-primary');
                    badge.classList.add('bg-success');
                    break;
                case 'CANCELLED':
                    badge.classList.remove('bg-primary');
                    badge.classList.add('bg-danger');
                    break;
                default:
                    badge.classList.remove('bg-primary');
                    badge.classList.add('bg-secondary');
                    break;
            }
        });
    });</script>
</body>
<style>
    .form-check-input:checked {
        background-color: #cc2121;
        border-color: #cc2121;
    }
</style>

</html>