<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head('Chroma - Verify Code')}">
</head>
<body>

<!--[if lt IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve
    your experience.</p>
<![endif]-->

<!-- Start of Whole Site Wrapper with mobile menu support -->
<div id="whole" class="whole-site-wrapper color-scheme-one">

    <div th:replace="~{layout::headernormal(${user})}"></div>
    <div th:replace="~{layout :: nav(${categories1},${categories2},${categories3},${categories4})}"></div>

    <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

    <!-- Start of Breadcrumbs -->
    <div class="breadcrumb-section bgc-offset mb-full" style="margin-bottom: 40px">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <nav class="breadcrumb" style="padding: 20px">
                        <a class="breadcrumb-item" th:href="@{/index.html}">Home</a>
                        <span class="breadcrumb-item active">Login</span>
                    </nav>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <!-- End of Breadcrumbs -->

    <!-- Start of Main Content Wrapper -->
    <div id="content" class="main-content-wrapper">

        <!-- Start of Login Wrapper -->
        <div class="login-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <main id="primary" class="site-main">
                            <div class="user-login">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <div class="section-title">
                                            <h2>Verify Code To Reset Your Password</h2>
                                        </div>
                                    </div>
                                </div> <!-- end of row -->

                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
                                        <div class="login-form">
                                            <form th:action="@{/reset-password/access}" method="post">
                                                <div class="form-group row align-items-center mb-4">
                                                    <label for="newPassword" class="col-12 col-sm-12 col-md-4 col-form-label">New Password</label>
                                                    <div class="col-12 col-sm-12 col-md-8" style="padding-top: 15px">
                                                        <input type="text" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" required>
                                                    </div>
                                                </div>

                                                <!-- Hidden field for the token -->
                                                <input type="hidden" name="token" th:value="${token}"/>

                                                <div class="login-box text-center" style="margin-top: -15px">
                                                    <button type="submit" class="default-btn tiny-btn mt-4">Recover</button>
                                                </div>

                                                <div class="text-center mt-half top-bordered" style="padding-top: 5px">
                                                    <p>Back to your login? <a th:href="@{/login.html}">Login</a>.</p>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div> <!-- end of user-login -->
                        </main> <!-- end of #primary -->
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Login Wrapper -->
    </div>
    <!-- End of Main Content Wrapper -->

    <div th:replace="~{layout::footer}"></div>
    <div th:replace="~{layout::scroll_to_top}"></div>

</div>
<!-- End of Whole Site Wrapper -->

<!-- Initializing Photoswipe -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<!-- End of Photoswipe -->


<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="assets/js/jquery.1.12.4.min.js"></script>

<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>

<!-- Main JS -->
<script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function updateCart() {
        fetch('/login.html')
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newCartContent = doc.querySelector('.shopping-cart-content').innerHTML;
                const newCountStyle = doc.querySelector('.count-style').textContent;

                document.querySelector('.shopping-cart-content').innerHTML = newCartContent;
                document.querySelector('.count-style').textContent = newCountStyle;
            })
            .catch(error => console.error('Error fetching cart items:', error));
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateCart();
    });

    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const registerSuccess = urlParams.get('registerSuccess');

        if (registerSuccess === "false") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong! Your email may be used",
            });
        } else if (registerSuccess === "true") {
            Swal.fire({
                icon: "success",
                title: "Success!",
                text: "You have registered successfully!",
            });
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const loginSuccess = urlParams.get('loginSuccess');

        // Check if the login was unsuccessful
        if (loginSuccess === "false") {
            Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong! Your email or password may be wrong!!",
            });
        }
    });

</script>

</body>
<style>
    .swal2-confirm,.swal2-cancel{
        padding: 0.5px 20px;
    }
</style>

</html>